.custom-div {
  background-color: #012b36;
  color: #FFFFFF;
  padding: 2rem 5rem 1rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 0px;
  text-align: left;
  width: 65%; /* Add the desired fixed width value */
  margin: 0 auto; /* Align the block center */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#logo {
  height: 75px; 
  width: 150;
}